#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include *.cnf from the config directory
#
!includedir /etc/my.cnf.d

[client]
default-character-set = latin1

[mysqld]
collation_server = latin1_swedish_ci
character_set_server = latin1
sql_mode=NO_ENGINE_SUBSTITUTION

[mysql]
default-character-set = latin1
